version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gradle"
    directory: "/"
    target-branch: "main"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    ignore:
      - dependency-name: "org.springframework.boot"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "org.springframework.boot:spring-boot-dependencies"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "org.springframework.cloud:spring-cloud-starter-open-service-broker"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "gradle"
    directory: "/"
    target-branch: "SCOSB-4.3.x"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    ignore:
      - dependency-name: "org.springframework.boot"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "org.springframework.boot:spring-boot-dependencies"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "org.springframework.cloud:spring-cloud-starter-open-service-broker"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "gradle"
    directory: "/"
    target-branch: "SCOSB-4.2.x"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    ignore:
      - dependency-name: "org.springframework.boot"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "org.springframework.boot:spring-boot-dependencies"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "org.springframework.cloud:spring-cloud-starter-open-service-broker"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
